/* LoginForm.css */
.login-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.login-form-errors {
  color: #ff0000;
  margin-bottom: 10px;
}

.login-form-label {
  display: block;
  margin-bottom: 10px;
}

.login-form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form-button:hover {
  background-color: #0056b3;
}

.login-modal-delete-button-box {
  margin-top: 15px;
}

.delete-LM-form-button {
  width: 100%;
  padding: 10px;
  background-color: #7c2aff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-LM-form-button:hover {
  background-color: #5f1fc5;
}

.login-err-msg {
  font-size: 14px;
  color: red;
}
