/* NewCharModal.css */

/* Style for the entire modal */
.NewCharModal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-char-title {
  margin-top: 10px;
  text-decoration: underline;
}

/* Style for the form container */
.NewCharModal form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style for the input field */
.NewCharModal form label {
  margin-bottom: 10px;
}

.NewCharModal form input {
  padding: 5px;
  margin-top: 5px;
}

/* Style for the character models container */
.NewCharModal form div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

/* Style for each character model item */
.NewCharModal form .model-item {
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.NewCharModal form .model-item:hover {
  transform: scale(1.1);
}

.NewCharModal form .model-item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.NewCharModal form .model-item p {
  text-align: center;
  margin-top: 5px;
}

/* Style for the selected character model */
.NewCharModal form .model-item.selected {
  border-radius: 50%;
  border: 2px solid #4285f4;
}
